@{
    ViewData["Title"] = "Books Page";
}

<div class="text-center">
    <h1 class="display-4">Books page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to the Books page!</a>.</p>
</div>
